.article {
  background-color: $color1;
  text-align: center;
  display: flex;
  margin: 0 auto;
  width: 78%;

  @media screen and (max-width: 700px) {
     flex-direction: column;
  }

  .article-left-content,.article-right-content {
    border-top: solid 2px #e3e3e3;
  }
  
  .article-left-content {
    border-right: solid 2px #e3e3e3;
  }

  .article, p {
    margin: 70px 0 50px;
  }

  .article, h3 {
    font-size: 1.5rem;
    letter-spacing: 5px;
    max-width: 300px;
    margin: 0 auto;
  }

  .article-img img {
    width: 80%;
    margin: 50px 0 10px;
  }

  .article-text {
    padding: 0 34px 0 57px;
    line-height: 40px;
    text-align: left;
  }

  .article, .btn {
    margin-top: 0;
  }
}