footer {
  background-color: $color3;
  color: $color4;
  width: 78%;
  margin: 30px auto;
  
  footer, label, input[type="submit"], span {
    font-size: 0.7rem;
    letter-spacing: 1.5px;
    font-weight: bold;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 50px 0;

    @media screen and (max-width: 912px) {
      grid-template-columns: 100%;
     }
  }
  
  .footer-left form {
  display: flex;
  flex-direction: column;
  margin: 20px;

  label {
    text-align: left;
  }
  

  .footer-left, label, input, textarea {
    margin: 10px;
    background-color: transparent;
    outline: none;
  }
  
  .footer-left, input, textarea {
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    max-width: 90%;
    resize: none;
  }
  input[type="submit"] {
    margin-top: 20px;
    border: solid 2px $color4;
    border-radius: 0;
    color: $color4;
    width: 150px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    transform: scale(1);
    text-align: center;
    margin: 0 auto;
    
    &:hover {
      color: $color1;
      background-color: $color4;
      transition: 0.2s ease;
    }
   }
}

  .footer-right {
    display: grid;
    color: $color4;
    border-left: solid 2px #d3d3d3;

    
    .foot-right, p {
      font-size: 0.8rem;
      font-weight: 100;
    }
    
    .footer-right-content {
      display: grid;
      grid-template-columns: 30% 70%;
      padding: 30px;
      align-items: center;
      border-bottom: solid 2px #d3d3d3;

      &:first-child {
        border-top: solid 2px #d3d3d3;
      }
    }

    .footer-socials li {
      font-size: 1rem;
      padding: 10px;
      border: solid 1px $color4;
      border-radius: 30px;
      margin: 5px;
      color: $color2;
      cursor: pointer;
      transition: ease-in-out 0.2s;
      transform: scale(1);

      &:hover {
        color: $color1;
        background-color: $color2;
      }
    }
  }
}