header {
  @include centerChild();
  text-align: center;
  min-height: 100vh;
  
  h1, p, i {
    color: $color1;
  }
  
  h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    min-width: 34%;
    font-weight: 800;
  }

  h1, p {
    margin-bottom: 40px;
  }

  i {
    border: solid 2.5px $color1;
    border-radius: 100%;
    padding: 30px;
    cursor: pointer;
  }

  @media screen and (max-width: 666px) {
   h1 {
      font-size: 2rem;
    }
  }


  @media screen and (max-width: 390px) {
   h1 {
      font-size: 1rem;
    }
      p {
       font-size: 0.8rem;
      }
  }
}
