nav {
  position: absolute;
  width: 100%;
  height: 70px;
  transform: translateY(-70px);
  
  .nav-container {
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: $color1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.307);
  }

  .nav-container ul, li {
    height: 100%;
  }

  .navigation {
    display: flex;
    font-size: 0.8rem;
    letter-spacing: 3px;
  }

  .navigation li:first-child {
    background-color: $color1;
    color: $color2;
  }

  .navigation li:hover {
    background-color: $color1;
    color: $color2;
    transition: 0.2s;
  }

  .socials {
    font-size: 1.5rem;
  }

  .navigation li,
  .socials li {
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
  }

  .navigation li,
  .socials li:hover {
    cursor: pointer;
  }
}