.introduction {
  background-color: $color1;
  width: 78%;
  margin: 0 auto;
  
  .introduction-container {
    @include centerChild();
    flex-direction: column;
    text-align: center;
    position: relative;
    
    p:first-child {
      margin: 70px 0 50px;
      
      &:before,
      &:after {
       position: absolute;
       content: "";
       width: 37%;
       height: 2px;
       transform: translateY(-50%);
       background-color: #e3e3e3;

       @media screen and (max-width: 700px) {
        width: 30%;
       }
 
       @media screen and (max-width: 700px) {
        width: 24%;
       }
      }
       &:before {
         left: 0;
       }
  
       &:after {
         right: 0;
       }
    }

    
     h2 {
      font-size: 3rem;
      letter-spacing: 5px;
      max-width: 600px;
      margin: 0 auto;

     @media screen and (max-width: 700px) {
      font-size: 1.5rem;
     } 
    }
    
    p:last-child {
      width: 60%;
      margin: 30px auto;
      line-height: 35px;
      font-size: italic;
      font-size: 0.8rem;
    }
  }

  .introduction-img img {
    width: 80%;
  }

  .btn {
    margin-bottom: 150px;
  }
}