// Initialisation CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

// Initialisation variables couleurs
$color1: #fbf5f5;
$color2: #100f0f;
$color3: #e9e9e9;
$color4: #68676b;

// Variables
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family:"Inter", sans-serif;
  background: url(/assets/images/bg.jpg)center/cover fixed;
}

p {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
}

h1,h2,h3,li,button,label,input,span {
  text-transform: uppercase;
}

footer {
  color: $color3;
}

 .btn {
  font-family: "Inter",sans-serif;
  font-weight: 600;
  border: solid 2.3px $color2;
  background-color: transparent;
  padding: 10px 25px ;
  cursor: pointer;
  margin: 50px;
  position: relative;
  z-index: 1;

  &:hover {
    color: $color1;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $color2;
    transition: height 0.2s ease;
    z-index: -1;
  }
  
  &:hover::before {
    height: 100%;
  }
}