// Initialisation CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

// Initialisation variables couleurs
$color1: #fbf5f5;
$color2: #0f0900;
$color3: #e9e9e9;

// Variables
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family:"Inter", sans-serif;
  background: url(/assets/images/bg.jpg)center/cover fixed;
}

p {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
}

h1,h2,h3,li,button,label,span {
  text-transform: uppercase;
}

footer {
  color: $color3;
}